@model EntityLayer.Concrete.Guide

@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Yeni Rehber Oluşturma Sayfası</h1>
<form method="post">
    <div class="form-group">
        @Html.Label("Ad Soyad")
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Rehber Fotoğraf")
        <input type="text" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Instagram Url")
        <input type="text" asp-for="InstagramUrl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Twitter Url")
        <input type="text" asp-for="TwitterUrl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    <button class="btn btn-outline-primary">Oluştur</button>
</form>