@using EntityLayer.Concrete
@model List<Destination>
<section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Seyahatini Planla</h6>
            <h3 class="hny-title">Popüler Tur Rotaları</h3>
        </div>
        <div class="row bottom-ab-grids">
            <!--/row-grids-->
            @foreach(var item in Model) 
            { 
            <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="@item.Image" style="width:200px;height:120px" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>@item.City</h4>
                                <p>@item.DayNight</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan fiyatlarla </h6>
                                    <span>@item.Price ₺</span>
                                </div>
                                <p class="sub-para">@item.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            }
            <!--//row-grids-->
        </div>
    </div>
</section>