@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
@await Component.InvokeAsync("_MemberLayoutHead")
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="collapse navbar-collapse show" id="navbar-mobile">

                    @await Component.InvokeAsync("_MemberLayoutSearch")
                    @await Component.InvokeAsync("_MemberLayoutLanguages")
                    @await Component.InvokeAsync("_MemberLayoutNavbar")

                </div>
            </div>
        </div>
    </nav>

    @*@await Component.InvokeAsync("_MemberLayoutSidebar")*@

    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="~/member/theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="index.html">
                        <img class="brand-logo" alt="Chameleon admin logo" src="~/member/theme-assets/images/logo/logo.png" />
                        <h3 class="brand-text">Traversal</h3>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="/Member/Dashboard/MemberDashboard/"><i class="ft-home"></i><span class="menu-title" data-i18n="">@localizer["Dashboard"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/Profile/Index/"><i class="ft-pie-chart"></i><span class="menu-title" data-i18n="">@localizer["Profilim"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/Reservation/MyCurrentReservation/"><i class="ft-droplet"></i><span class="menu-title" data-i18n="">@localizer["Aktif Rezv."]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/Reservation/MyOldReservation/"><i class="ft-clock"></i><span class="menu-title" data-i18n="">@localizer["Geçmiş Rezv."]</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Member/Reservation/MyApprovalReservation/"><i class="ft-cloud"></i><span class="menu-title" data-i18n="">@localizer["Onay Bekleyen Rezv."]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/Reservation/NewReservation/"><i class="ft-navigation"></i><span class="menu-title" data-i18n="">@localizer["Yeni Rezervasyon"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/Comment/Index/"><i class="ft-command"></i><span class="menu-title" data-i18n="">@localizer["Yorumlarım"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/Destination/Index/"><i class="ft-map"></i><span class="menu-title" data-i18n="">@localizer["Tur Rotaları"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Member/LastDestinations/Index/"><i class="ft-navigation-2"></i><span class="menu-title" data-i18n="">@localizer["Son Rotalar"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Default/Index/"><i class="ft-power"></i><span class="menu-title" data-i18n="">@localizer["Siteye Git"]</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="ft-lock"></i><span class="menu-title" data-i18n="">@localizer["Çıkış Yap"]</span></a>
                </li>
            </ul>
        </div>
        <div class="navigation-background"></div>
    </div>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            @await Component.InvokeAsync("_MemberLayoutHeaderContent")

            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_MemberLayoutFooter")

    <script src="~/member/theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <script src="~/member/theme-assets/js/core/app-menu-lite.js" type="text/javascript"></script>
    <script src="~/member/theme-assets/js/core/app-lite.js" type="text/javascript"></script>
</body>
</html>