@model List<GetAllDestinationQueryResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>CQRS Tur Rotası Verileri</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Gün-Gece</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.city</td>
            <td>@item.daynight</td>
            <td>@item.price ₺</td>
            <td>@item.capacity</td>
            <td><a href="/Admin/DestinationCQRS/DeleteDestination/@item.id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.id" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/DestinationCQRS/AddDestination/" class="btn btn-outline-primary">Yeni Tur Rotası Girişi</a>

