@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Aktif Rezervasyonlar</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon</th>
        <th>Kişi Sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservationID</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservastionDate</td>
            <td>@item.Status</td>
        </tr>
    }
</table>

