@using EntityLayer.Concrete
@model List<Reservation>
@{ 
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml"; 
    
    }



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Aktif Rezervasyonlar</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Web Sitemiz Traversal üzerinde yapmış olduğunuz aktif rezervasyon listenize aşağıdan erişebilirsiniz. </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Lokasyon</th>
                                    <th>Kişi Sayısı</th>
                                    <th>Rezervasyon Tarihi</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>@item.ReservationID</td>
                        <td>@item.Destination.City</td>
                        <td>@item.PersonCount</td>
                        <td>@item.ReservastionDate</td>
                        <td>@item.Status</td>
                    </tr>}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
