@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="col-12 mt-4">
    <div class="card mb-4">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-1">Son Rotalar</h6>
            <p class="text-sm">Traversal Şirketinin En Son Eklenen Seyahat Rotaları</p>
        </div>
        <div class="card-body p-3">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                        <div class="card card-blog card-plain">
                            <div class="position-relative">
                                <a class="d-block shadow-xl border-radius-xl">
                                    <img src="@item.Image" style="width:400px; height:200px;" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                </a>
                            </div>
                            <div class="card-body px-1 pb-0">
                                <p class="text-gradient text-dark mb-2 text-sm">@item.DayNight - @item.Price ₺</p>
                                <a href="javascript:;">
                                    <h5>
                                        @item.City
                                    </h5>
                                </a>
                                <p class="mb-4 text-sm">
                                    @item.Details2.Substring(0, 100)...
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-primary btn-sm mb-0">Tur Detayları</a>
                                    <div class="avatar-group mt-2">
                                        <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Elena Morison">
                                            <img alt="Image placeholder" src="~/soft-ui-dashboard/assets/img/team-1.jpg">
                                        </a>
                                        <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Milly">
                                            <img alt="Image placeholder" src="~/soft-ui-dashboard/assets/img/team-2.jpg">
                                        </a>
                                        <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nick Daniel">
                                            <img alt="Image placeholder" src="~/soft-ui-dashboard/assets/img/team-3.jpg">
                                        </a>
                                        <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Peterson">
                                            <img alt="Image placeholder" src="~/soft-ui-dashboard/assets/img/team-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>}
            </div>
        </div>
    </div>
</div>
