@using EntityLayer.Concrete
@model List<Comment>
<div class="comments mt-5">
    <h4 class="side-title ">Yorumlar (@ViewBag.commentCount)</h4>
    @foreach (var item in Model)
    {
    <div class="media mt-4">
        <div class="img-circle">
            <img src="@item.AppUser.ImageUrl" class="img-fluid" alt="...">
        </div>
        <div class="media-body">

            <ul class="time-rply mb-2">
                <li>
                    <a href="#URL" class="name mt-0 mb-2 d-block">@item.AppUser.Name @item.AppUser.Surname</a>
                   @(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))

                </li>
                <li class="reply-last">
                    <a href="#reply" class="reply">
                        Yanıtla
                    </a>
                </li>
            </ul>
            <p>
               @item.CommentContent
            </p>
        </div>
    </div>
    }
</div>