@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="zxx">

<body>
    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Tur Detayları</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rehberin Yorumları </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--/blog-->
    <div class="py-5 w3l-homeblock1 text-center">
        <div class="container mt-md-3">
            <h3 class="blog-desc-big text-center mb-4">
                Alanında en yetkin rehberlerimizle
                en güncel seyahat hikayelerimizi okumalısınız!
            </h3>
            <div class="blog-post-align">
                <div class="blog-post-img">
                    <a href="#"><img src="@Model.Guide.Image" alt="" class="rounded-circle img-fluid" /></a>
                </div>
                <div class="blog-post-info">
                    <div class="author align-items-center mb-1">
                        <a href="#">@Model.Guide.Name</a> Tur Rotaları: <a href="#url">@Model.Guide.Description</a>
                    </div>
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> @(((DateTime)Model.Date).ToString("dd-MMM-yyyy")) </span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> 6min read</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <div class="single-post-image">
                    <div class="post-content">
                        <img src="@Model.CoverImage" style="width:1170px;height:500px" class="radius-image img-fluid mb-5" alt="" />
                    </div>
                </div>
                <div class="single-post-content">
                    <p class="alphabet mb-4">
                        <span class="big-letter"></span>@Model.Details1
                    </p>
                    <blockquote class="blockquote my-5">
                        <div class="icon-quote"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                        Gezi Tur Seyahat Rotalar Dünya.
                        <footer class="blockquote-footer mt-3">
                            Smith lara
                        </footer>
                    </blockquote>
                    <div class="sing-post-thumb mb-5 row pt-3">
                        <div class="col-sm-6">
                            <a href="#url"><img src="@Model.Image" style="width:400px;height:400px;" class="img-fluid radius-image" alt=""></a>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-3">
                            <a href="#url"><img src="@Model.Image2" style="width:400px;height:400px;" class="img-fluid radius-image" alt=""></a>
                        </div>
                    </div>
                    <h3 class="blog-desc-big m-0 mb-lg-4 mb-3">2.Paragraf</h3>
                    <p class="mb-4">
                        @Model.Details2
                    </p>

                    <div class="d-grid left-right mt-5 pb-md-5">
                        <div class="buttons-singles tags">
                            <h4>Etiketler :</h4>
                            <a href="#blog-tag">Seyahat</a>
                            <a href="#blog-tag">Gezi</a>
                            <a href="#blog-tag">Hotel</a>
                            <a href="#blog-tag">Yemek</a>
                            <a href="#blog-tag">Tur</a>
                            <a href="#blog-tag">Dünya</a>
                        </div>
                        <div class="buttons-singles">
                            <h4>Paylaş :</h4>
                            <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                        </div>
                    </div>

                    <!--//author-card-->
                    <div class="author-card mt-5">
                        <div class="row align-items-center">
                            <div class="col-sm-3 col-6">
                                <div>
                                    <img src="@Model.Guide.Image" alt="" class="rounded-circle img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-9 mt-sm-0 mt-3">
                                <h3 class="mb-3 title">@Model.Guide.Name</h3>
                                <p>
                                    @Model.Guide.Description2
                                </p>
                                <ul class="author-icons mt-4">
                                    <li>
                                        <a class="facebook" href="#url">
                                            <span class="fa fa-facebook"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="#url">
                                            <span class="fa fa-twitter"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="google" href="#url">
                                            <span class="fa fa-google-plus"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkedin" href="#url">
                                            <span class="fa fa-linkedin"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="github" href="#url">
                                            <span class="fa fa-github"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dribbble" href="#url">
                                            <span class="fa fa-dribbble"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--//author-card-->


                    @await Component.InvokeAsync("_CommentList", new { id = ViewBag.i })

                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new { id = ViewBag.destID })
                    <br /><br />
                </div>
            </div>
            <!--//blog-post-->
        </div>
    </section>

    <!--/w3l-footer-29-main-->
</body>

</html>
